html {
  overflow-x: hidden;
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
body ::selection {
  background-color: red;
  color: grey;
}
header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 80%, #000000 100%), url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  width: calc(100% - 100px);
  height: 20%;
  transform: translateX(50px);
}
header .container .cls-1 {
  fill: white;
}
header .container .cls-2 {
  fill: red;
}
header h1,
header h2 {
  transform: translateX(50px);
  letter-spacing: 4px;
}
header h2 {
  transform: translateX(50px);
  position: absolute;
  bottom: 10px;
}
header h1 {
  margin-top: 10px;
  transform: translateX(50px);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  border-right: 1px solid grey;
  height: 100%;
  display: flex;
  z-index: 1000;
}
nav div {
  display: inline;
}
nav .logo-container {
  width: 120px;
  height: auto;
  position: absolute;
  top: calc(50vh - 100px);
  /* Calcula el valor de 'top' con respecto a la mitad de la ventana */
  transform: rotate(90deg);
}
nav .logo-container svg.header-sidebar-logo {
  width: 100%;
  height: auto;
  display: block;
}
nav .logo-container .cls-1 {
  fill: #ffffff;
}
nav .logo-container .cls-2 {
  fill: #ff0000;
}
nav img {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid grey;
}
nav h1 {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: bottom left;
  bottom: 260px;
  left: 25px;
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.5s;
}
nav h1 a:hover {
  color: red;
}
nav h1 .nav-line {
  height: 4vh;
  width: 1px;
  background-color: hsla(0, 0%, 100%, 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
  transform: rotate(90deg);
}
nav h1 a:nth-of-type(2) {
  color: red;
}
main {
  position: relative;
}
main .welcome {
  padding-top: 50px;
  text-align: center;
  font-size: calc((89.999vw - 220px) / 6*1.015);
  transform: translateX(50px);
}
main .triangle {
  position: absolute;
  top: 1000px;
  left: 50%;
  transform: translate(-50%, -50%) translateX(50px);
}
main .triangle img {
  display: flex;
  width: 350px;
  max-width: 100%;
  height: auto;
  display: block;
}
main .linea {
  position: absolute;
  top: 1000px;
  left: 100px;
  background-color: #3e4144;
  width: 100%;
  height: 1px;
}
main .text1 {
  position: absolute;
  top: calc(890px - 10px);
  right: 60px;
  width: calc(27% - 40px);
  padding: 20px;
  line-height: 1.6;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 1em;
}
main .text1 h1 {
  margin: 0 0 20px 0;
}
main .text1 h1:last-child {
  position: absolute;
  top: calc(200px - 30px);
  /* Ajusta el top considerando el padding */
  font-family: "calluna", Georgia, serif;
  font-size: 1.1rem;
  font-weight: normal;
  color: #bcbcbc;
  line-height: 28px;
}
main .homewhatisdegenesis-triangle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1100px;
  width: calc((89.999vw - 220px) / 6 * 2 + 7.8vw);
  height: calc((89.999vw - 220px) / 6 * 2 + 7.8vw);
  left: 50%;
  transform: translate(-50%, -50%) translateX(50px);
}
main .homewhatisdegenesis-triangle svg {
  width: 100%;
  height: 100%;
}
main .homewhatisdegenesis-triangle .homewhatisdegenesis-triangle-outer,
main .homewhatisdegenesis-triangle .homewhatisdegenesis-triangle-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .homewhatisdegenesis-triangle .homewhatisdegenesis-triangle-outer-path,
main .homewhatisdegenesis-triangle .homewhatisdegenesis-triangle-inner-path {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}
main .button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: calc(100vh - 40px);
  margin-left: 100px;
  width: calc(100% - 140px);
  gap: 40px;
  padding: 0 20px;
}
main .button {
  flex: 1;
  padding: 50px 10px;
  color: white;
  cursor: pointer;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(33% - 20px);
  position: relative;
  z-index: 1;
  transition: color 0.3s;
}
main .button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: red;
  height: 0;
  z-index: -1;
  transition: height 0.3s;
}
main .button:hover {
  color: white;
}
main .button:hover::before {
  height: 100%;
}
main .rojo {
  color: red;
}
main .text2 {
  margin-left: 100px;
}
main .text2 p {
  margin-top: 100px;
  line-height: 1.2em;
  margin-left: 3.8rem;
}
main .text2 p:nth-of-type(1) {
  letter-spacing: 0.6em;
  font-size: 20px;
  font-family: "AvenirLTPro-Book", Helvetica, Arial, sans-serif;
}
main .text2 p:nth-of-type(2) {
  font-family: "calluna", Georgia, serif;
  margin-top: 0;
  padding-top: 70px;
  font-size: 3.8vw;
  text-indent: 7rem;
}
main .cultures-info {
  margin: 150px 50px 100px 150px;
  display: flex;
  align-items: center;
  width: 100%;
}
main .cultures-info h1 {
  font-size: 5vw;
}
main .cultures-info .left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .cultures-info h2 {
  font-size: 20px;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}
main .cultures-info .linea2 {
  height: 1px;
  width: 100px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: darkslategray;
}
main .cultures-info p {
  font-family: "calluna", Georgia, serif;
  font-weight: 500;
  color: grey;
  text-indent: 1.6em;
  line-height: 1.6em;
  width: 30%;
  margin: 20px 200px 0px 40%;
}
main .image-gallery {
  width: calc(100% - 200px);
  /* Ajusta el ancho, restando el margen izquierdo */
  margin-left: 150px;
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
}
main .images {
  display: flex;
  gap: 10px;
}
main .image-item {
  min-width: calc(33.33% - 10px);
  /* Ajusta el ancho considerando el gap entre los items */
  scroll-snap-align: start;
}
main .image-item img {
  width: 100%;
  height: auto;
}
main #button1 {
  margin-left: 150px;
  margin-right: 500px;
  margin-top: 30px;
  max-width: none;
  width: calc(100% - 200px);
  box-sizing: border-box;
}
main .releas {
  margin-left: 150px;
  margin-top: 150px;
  font-size: calc((89.999vw - 220px) / 6*0.9);
}
main .homebooks {
  margin: 50px 0 0 150px;
  display: flex;
  width: calc(100% - 150px);
}
main .homebooks .homebooks-hijo {
  display: flex;
  width: calc(50% - 10px);
}
main .homebooks .homebooks-hijo .homebooks-img {
  width: calc((89.999vw - 220px) / 6);
  height: auto;
}
main .homebooks .homebooks-hijo .homebooks-img img {
  max-width: 100%;
  height: auto;
}
main .homebooks .homebooks-hijo .homebooks-nieto {
  display: flex;
  flex-direction: column;
  width: calc(33.33334% - 40px);
  height: 100%;
  justify-content: flex-start;
  margin-right: 20px;
  margin-left: 20px;
}
main .homebooks .homebooks-hijo .homebooks-nieto p {
  margin-top: 8%;
}
main .homebooks .homebooks-hijo .homebooks-nieto h1 {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 10px;
}
main .homebooks .homebooks-hijo .homebooks-nieto #button3 {
  display: flex;
  max-width: none;
  width: 100%;
  height: 30px;
  background-color: black;
  border-left: black;
  justify-content: center;
  align-items: center;
}
main .homebooks .homebooks-hijo .homebooks-nieto .ratings {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
main .homebooks .homebooks-hijo .homebooks-nieto .ratings div {
  width: 100%;
  height: 5px;
  background-color: grey;
  margin-top: 10%;
}
main .homebooks .homebooks-hijo .homebooks-nieto .ratings div:first-of-type {
  margin-top: 0;
}
main .homebooks .homebooks-hijo .homebooks-nieto .ratings .porcentaje30::before {
  content: '';
  display: block;
  width: 30%;
  height: 100%;
  background-color: red;
}
main .homebooks .homebooks-hijo .homebooks-nieto .ratings .porcentaje100::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
}
main #button2 {
  margin-left: 150px;
  margin-right: 500px;
  margin-top: 30px;
  max-width: none;
  width: calc(100% - 200px);
  box-sizing: border-box;
}
main .trailer {
  margin-left: 150px;
  width: calc(100% - 200px);
  line-height: 0.85em;
  font-size: calc((89.999vw - 220px) / 6 * 0.9);
}
main .video {
  position: relative;
  width: 80%;
  /* Cambiamos para que ocupe el 80% */
  margin: 20px auto;
  border: 1px solid white;
}
main .video::before {
  content: '';
  display: block;
  padding-bottom: 56.25%;
  /* Relación de aspecto 16:9 */
}
main .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main #button4 {
  margin-left: 150px;
  margin-right: 500px;
  margin-top: 30px;
  max-width: none;
  width: calc(100% - 200px);
  box-sizing: border-box;
}
footer {
  background-color: #000;
  color: white;
  padding: 20px;
  text-align: center;
}
footer .footer-logo img {
  max-width: 150px;
}
footer .footer-info,
footer .footer-publisher,
footer .footer-inquiries,
footer .footer-copyright {
  margin: 10px 0;
}
footer .footer a {
  color: #fff;
  text-decoration: none;
}
footer .footer a:hover {
  text-decoration: underline;
}
