@primary-color: white;
@secondary-color: red;
@background-color: black;
@border-color: grey;
@font-main: sans-serif;

html {
    overflow-x: hidden;
}

body {
    ::selection {
        background-color: red;
        color: grey;
    }
    background-color: black;
    color: white;
    font-family: sans-serif;
}

header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0) 100%), url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        width: calc(100% - 100px);
        height: 20%;
        transform: translateX(50px);
        .cls-1 {
            fill: @primary-color;
        }
        .cls-2 {
            fill: @secondary-color;
        }

    }

    h1, h2 {
        transform: translateX(50px);
        letter-spacing: 4px;
    }
    h2{
        transform: translateX(50px);
        position: absolute;
        bottom: 10px;
    }
    h1{
        margin-top: 10px;
        transform: translateX(50px);
    }
    
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    border-right: 1px solid grey;
    height: 100%;
    display: flex;
    z-index: 1000;

    div {
        display: inline;
    }

    .logo-container {
        width: 120px;
        height: auto;
        position: absolute;
        top: calc(50vh - 100px); /* Calcula el valor de 'top' con respecto a la mitad de la ventana */
        transform: rotate(90deg);

    
        svg.header-sidebar-logo {
            width: 100%;
            height: auto;
            display: block;
        }
    
        .cls-1 {
            fill: #ffffff;
        }
    
        .cls-2 {
            fill: #ff0000;
        }
    }

    img {
        position: absolute;
        width: 100%;
        border-bottom: 1px solid grey;
    }

    h1 {
        position: absolute;
        transform: rotate(90deg);
        transform-origin: bottom left;
        bottom: 260px;
        left: 25px;
        width: 230px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            transition: color 0.5s;
            &:hover{
                color: red;
            }
        }

        .nav-line{
            height: 4vh;
            height: 4vh;
            width: 1px;
            background-color: hsla(0, 0%, 100%, .2);
            margin-top: 20px;
            margin-bottom: 20px;
            transform: rotate(90deg);
        }

        a:nth-of-type(2) {
            color: red;
        }
    }
    

}

main {
    border: 1px solid red;
    .welcome{
        padding-top: 50px;
        text-align: center;
        font-size: calc((89.999vw - 220px) / 6* 1.015);
        transform: translateX(50px);
    }
    
    .triangle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 60%;
        margin-left: 36%;
        transform: translateX(100px);
        margin-top: 10%;
        margin-bottom: 10%;
      
        img {
            width: 300px;
            max-width: 100%;
            height: auto;
            display: block;
        }
      
        .text1 {

            margin-left: 3vw;
            margin-right: 3vw;
            line-height: 1.6;
            font-weight: bold;
            color: white;
            letter-spacing: 2px;
            font-size: 18px;
            line-height: 1em;
            margin-top: 10%;

            h1:last-child {

                margin-top: 20%;
                font-family: "calluna", Georgia, serif;
                font-size: 1.1rem; 
                font-weight: normal;
                color: #bcbcbc;
                line-height: 28px;

            }
        }
      }
    
    .linea{
        position: absolute;
        margin-top: 23vw;
        left: 100px;
        background-color:rgb(62, 65, 68);
        width: 100%;
        height: 1px;
    }

    .button-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 100px;
        width: calc(100% - 140px); 
        gap: 40px; 
        padding: 0 20px; 
    }
    
    .button {
        flex: 1; 
        padding: 50px 10px; 
        color: white;
        cursor: pointer;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(33% - 20px);
        position: relative;
        z-index: 1;
        transition: color 0.3s;
    }
    
    .button::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: red;
        height: 0;
        z-index: -1;
        transition: height 0.3s;
    }
    
    .button:hover {
        color: white;
    }
    
    .button:hover::before {
        height: 100%;
    }
    
    .rojo {
        color: red;
    }

    .text2{
        margin-left: 100px;
        p{
            margin-top: 100px;
            line-height: 1.2em;
            margin-left: 3.8rem;
            
        }
        
        p:nth-of-type(1) {
            letter-spacing: .6em;
            font-size: 20px;
            font-family: "AvenirLTPro-Book", Helvetica, Arial, sans-serif;
        }
        
        p:nth-of-type(2) {
            font-family: "calluna", Georgia, serif;
            margin-top: 0;
            padding-top: 70px;
            font-size: 3.8vw;
            text-indent: 7rem;
        }

    }

    .cultures-info {
        margin: 150px 50px 100px 150px;
        display: flex;
        align-items: center;
        width: 100%;
    
        h1 {
            font-size: 5vw;
        }
    
        .left-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    
        h2 {
            font-size: 20px;
            letter-spacing: .35em;
            text-transform: uppercase;
            border-bottom: 2px solid #000;
            margin-bottom: 10px;
        }
    
        .linea2 {
            height: 1px;
            width: 100px;
            margin-top: 10px;
            margin-right: 20px;
            margin-left: 20px;
            background-color: darkslategray;
        }
    
        p {
            font-family: "calluna", Georgia, serif;
            font-weight: 500;
            color: grey;
            text-indent: 1.6em;
            line-height: 1.6em;
            width: 30%;
            margin: 20px 200px 0px 40%;
        }
    }

    .image-gallery {
        width: calc(100% - 200px); /* Ajusta el ancho, restando el margen izquierdo */
        margin-left: 150px;
        overflow-x: auto; 
        display: flex; 
        justify-content: flex-start; 
    }
    
    .images {
        display: flex;
        gap: 10px;
    }
    
    .image-item {
        min-width: calc(33.33% - 10px); /* Ajusta el ancho considerando el gap entre los items */
        scroll-snap-align: start; 
    }
    
    .image-item img {
        width: 100%;  
        height: auto; 
    }
    
    
    #button1 {
        margin-left: 150px;
        margin-right: 500px;
        margin-top: 30px;
        max-width: none;
        width: calc(100% - 200px);
        box-sizing: border-box; 
    }

    .releas{
        margin-left: 150px;
        margin-top: 150px;
        font-size: calc((89.999vw - 220px) / 6* 0.9);
    }

    .homebooks {
        margin: 50px 0 0 150px;
        display: flex;
        width: calc(100% - 150px); 
        
        .homebooks-hijo {
            display: flex;
            width: calc(50% - 10px); 
            .homebooks-img {
                width: calc((89.999vw - 220px) / 6); 
                height: auto;
        
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        
            .homebooks-nieto {
                display: flex;
                flex-direction: column;
                width: calc(33.33334% - 40px); 
                height: 100%;
                justify-content: flex-start;
                margin-right: 20px;
                margin-left: 20px;
        
                h1 {
                    text-transform: uppercase;
                    font-size: 25px;
                    margin-bottom: 10px;
                }

                div:last-child{
                    max-width: none;
                    width: 90%;
                    max-height: 10px;

                }
        
                .ratings {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 10px;
        
                    div {
                        width: 100%;
                        height: 5px;
                        background-color: grey;
                        margin-top: 10%;
        
                        &:first-of-type {
                            margin-top: 0;
                        }
                    }
    
                    .porcentaje30::before {
                        content: '';
                        display: block;
                        width: 30%;
                        height: 100%;
                        background-color: red;
                    }
    
                    .porcentaje100::before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: red;
                    }
                }
            }
        }
    }
    
    #button2 {
        margin-left: 150px;
        margin-right: 500px;
        margin-top: 30px;
        max-width: none;
        width: calc(100% - 200px);
        box-sizing: border-box; 
    }

    .trailer {
        margin-left: 150px;
        width: calc(100% - 200px);
        line-height: .85em;
        font-size: calc((89.999vw - 220px) / 6 * 0.9);
    }

    .video {
        position: relative;
        width: 80%; /* Cambiamos para que ocupe el 80% */
        margin: 20px auto;
        border: 1px solid white;
    
        &::before {
            content: '';
            display: block;
            padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
        }
    
        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
        

    #button4 {
        margin-left: 150px;
        margin-right: 500px;
        margin-top: 30px;
        max-width: none;
        width: calc(100% - 200px);
        box-sizing: border-box; 
    }

}

footer{
    display: flex;
    flex-direction: row;
    margin-left: 100px;

    .footer-logo img {
        min-width: 100px;
        max-width: 150px;
    }

    margin-bottom: 1000px;
}
